*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-green: greenyellow;
    --secondary-green: hsl(84, 100%, 15%);

}

html{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    max-width: 90vw;
    margin: 0px auto;
}

.main-header {
    max-width: 100%;
    background-color: var(--primary-green);
}

.main-header .container {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-menu .list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background: url(img/unsplashphoto-1591779051696-1c3fa1469a79.avif) no-repeat center center;
}

.hero-section {
    height: 85vh;
    width: 100%;
    background: url(img/unsplashphoto-1591779051696-1c3fa1469a79.avif) no-repeat center center;
}

.hero-section  {
    position: relative;
}

.hero-section .container {
    height: inherit;
}

.hero-section .hero-content {
    padding: 50px;
    height: 450px;
    max-width: 390px;
    align-self: self-end;
    background-color: var(--primary-green);
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: .4rem;
}

.hero-content h3 {
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1.2rem;
    line-height: 1.4;
}

.btn {
    padding: .8rem 1rem;
    border: none;
    border-radius: 5px;
}

.knwo-more {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-green);
}

.knwo-more:hover {
    
    animation: btnColor .5s ease-in-out forwards;
}

@keyframes btnColor {
    from{
        background-color: white;
    }
    to{
        color: white;
        background-color: var(--secondary-green);
    }
}