*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: greenyellow;
}

html{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    max-width: 90vw;
    margin: 0px auto;
}

.main-header {
    max-width: 100%;
    background-color: var(--primary-color);
}

.main-header .container {
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.nav-menu .list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.hero-section {
    height: 100vh;
    width: 100%;
    background: url(img/unsplashphoto-1591779051696-1c3fa1469a79.avif) no-repeat center center;
}

.hero-section  {
    position: relative;
}

.hero-section .hero-content {
    padding: 50px;
    position: absolute;
    height: 500px;
    max-width: 300px;
    left: 20%;
    bottom: 0;
    background-color: var(--primary-color);
}